
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
@import url(./vendor/normalize.css);

.body{
    margin: 0 auto;
}
.page{
    margin: auto;
    max-width: 1280px;
    background-color: #2A2C2F;
    color: white;
}
header{
    display: flex;
    justify-content: space-between;
    max-height: 52px;
    max-width: 1184px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 56px;
    padding-top: 28px;
}
.header__logo{
    width: 176px;
    height: 52px;
}
.header__links{
    display: flex;

}
.header__lang-link{
    display: flex;
    flex-direction: column-reverse;
    margin-left: 18px;
    line-height:28px;
    text-align: right;
    text-decoration-line: underline;
    color: white;
    
}
.header__lang-link:last-child{
    text-decoration-line: none;
}
.lead{
    max-width: 984px;
    max-height: 1005px;
    padding-left: 148px;
    padding-right: 148px;
    padding-bottom: 92px;
    margin: auto;
}

.lead__title{
    display: flex;
    max-width: 720px;
    margin: auto;
    line-height: 1.2;
    font-size: 6em;
    text-align: center;

}
.lead__subtitle{
    max-width: 640px;
    margin: auto;
    display: flex;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 64px;
    line-height: 1.2;
    font-size: 2em;

}
.lead__image{
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

.lead__caption{
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 0.8em;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.Intro__items{
    max-height: 690px;
    max-width: 615px;
}
.Intro__item{
    font-size: 12px;
    line-height: 1.2;
}
.intro__text{
    max-width: 100%;
    font-size: 1em;
    line-height: 1.2;
}
.intro{
    max-height: 690px;
    max-width: 984px;
    margin: auto;
    padding-bottom: 92px;
}
.intro__title{
    font-size: 3.6em;
    line-height: 1.2;
    margin:auto;
}
.intro__column-list{
    margin:auto;
}
.Intro__list{
    list-style: none;
    padding-left: 0;
}
.photo-grid__list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(284px,1fr));
    gap: 16px;
    padding-left: 0;
    margin: 0;
}
.photo-grid__items{
    list-style: none;
}
.photo-grid{
    max-width: 1184px;
    margin: auto;
    padding-bottom: 92px;
}
.photo-grid__item{
    width: 100%;
    object-fit: cover;

}
.place{
    max-width: 984px;
    margin: 0;
    padding-left: 148px;
    padding-right: 148px;
}

.place__table{
    max-width: 984px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px,1fr));

    column-gap: 48px;
    row-gap: 40px;
    margin-bottom: 80px;
}
.place__table:last-child{
    margin-bottom: 0;
}
.place__title{
    font-size: 72px;
    line-height: 76px;
    align-self:end;
    justify-self: start;
    margin-top: 0;
    margin-bottom: 0;
}
.place__image{
    max-width: 100%;
    max-height: 100%;
}
.place__paragraph{
    margin-top: 0;
    margin-bottom: 26px;
    font-size: 1.1em;
    line-height: 1.6;
}
.place__paragraphs{
    max-width: 100%;
}
.place__website{
    align-self:end;
    justify-self: start;
    max-width: 456px;
    max-height: 46px;
}
.place__link{
    font-size: 18px;
    line-height: 1.2;
    color: white;
}
.place__url-heading{
    font-size: 12px;
    line-height: 0.8;
    letter-spacing: 0.2em;
    margin-top: 0;
    margin-bottom: 12px;
}
.cover{
    max-width: 1184px;
    max-height: 740px;
    padding-right: 48px;
    padding-left: 48px;
    position: relative;
    padding-top: 92px;
}
.cover__overlay{
    max-width: 1184px;
    height: 740px;
    background-image: url(./images/cover-trains.jpg);
    background-size: cover;
    position: relative;
    z-index: 1;
}
.cover__text{
    position: relative;
}
.cover__overlay::before {
    content:"";
    display: block;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    background-color:#2A2C2F;
    position: absolute;
    opacity: 0.3;
}
.cover__overlay:hover::before {
    opacity: 0.8;
  }
.cover__title{
    margin: auto;
    display: flex;
    padding-top: 245px;
    max-width: 560px;
    line-height: 1.2;
    font-size: 72px;
    text-align: center;
    z-index: 5;
}
.cover__title_link{
    color: white;
    text-decoration: none;
}
.cover__subtitle{
    max-width: 360px;
    padding-top: 32px;
    margin: auto;
    display: flex;
    text-align: center;
    line-height: 1.2;
    font-size: 18px;
    z-index: 5;
}
.footer{
    max-width: 1184px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 92px;
    padding-bottom: 24px;
}
.footer__list{
    display: inline;
    list-style: none;
    padding-left: 0;
}  
.footer__link{
    margin-right: 18px;
    color: white;
    text-decoration: none;
}
.footer__author{
    margin-top: 0;
    margin-bottom: 0;
}
@media screen and (min-width: 320px)and (max-width: 768px) {
    .lead {
        padding-right: 0px;
        padding-left: 0px;
    }
}
@media screen and (min-width: 1024px)and (max-width: 1280px){
    .lead {
        padding-right: 48px;
        padding-left: 48px;
    }
}
@media screen and (min-width: 320px)and (max-width: 425px) {
    .lead__caption{
        padding-left: 16px;
    }
}
@media screen and (min-width: 768px){
    .lead__caption{ 
        padding-left: 24px;
    }
}
@media screen and (min-width: 1024px){
    .lead__caption{ 
        padding-left: 0px;
    }
}
@media screen and (min-width: 320px)and (max-width: 425px) {
    .footer {
        display: flex;
        flex-direction: column;
        padding-top: 0;
        padding-left: 16px;
    }
}
@media screen and (min-width: 320px)and (max-width: 425px) {
    .footer__list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 64px;
        margin: 0;
    }
}
@media screen and (min-width: 320px)and (max-width: 425px) {
    .footer__link{
        margin-bottom: 32px;
        font-size: 24px;
    }
}
@media screen and (min-width: 320px)and (max-width: 425px) {
    .lead__title{
        font-size: 40px;
    }
}
@media screen and (min-width: 320px)and (max-width: 425px) {
    .lead__subtitle{
        padding-top: 16px;
        font-size: 16px;
    }
}
@media screen and (min-width: 768px)and (max-width: 1024px) {
    .intro{ 
        padding-left: 24px;
        padding-right: 48px;
    }
}
@media screen and (min-width: 1024px)and (max-width: 1280px){
    .intro{
        padding-right: 48px;
        padding-left: 48px;
    }
}
@media screen and (min-width: 320px)and (max-width: 425px) {
    .intro{
        padding-left: 16px;
        padding-right: 16px;
    }
}
@media screen and (min-width: 320px)and (max-width: 425px) {
    .intro__title{
        font-size: 32px;
    }
}
@media screen and (min-width: 320px)and (max-width: 425px) {
    .intro__text{
        font-size: 16px;
    }
}
@media screen and (min-width: 320px)and (max-width: 425px) {
    .photo-grid__list{
        gap: 12px;
    }
}
@media screen and (min-width: 1024px)and (max-width: 1280px){
    .photo-grid__list {
        gap: 14px;
    }
}

@media screen and (min-width: 768px)and (max-width: 1024px) {
    .header{ 
        padding-left: 24px;
        padding-right: 24px;
    }
}
@media screen and (min-width: 320px)and (max-width: 425px) {
    .header{
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media screen and (min-width: 320px)and (max-width: 1024px) {
    .cover{
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media screen and (min-width: 768px)and (max-width: 1024px) {
    .cover__overlay{ 
        height: 480px;
    }
}
@media screen and (min-width: 1024px)and (max-width: 1280px){
    .cover__overlay{
        height: 640px;
    }
}
@media screen and (min-width: 320px)and (max-width: 425px) {
    .cover__overlay{
        height: 200px;
    }
}
   
@media screen and (min-width: 768px)and (max-width: 1024px) {
    .cover__title{ 
        padding-top: 115px;
    }
}
@media screen and (min-width: 1024px)and (max-width: 1280px){
    .cover__title{
        padding-top: 195px;
    }
}
@media screen and (min-width: 320px)and (max-width: 425px) {
    .cover__title{
        font-size: 32px;
        padding-top: 32px;
    }
}

@media screen and (min-width: 320px)and (max-width: 425px) {
    .cover__subtitle{
        font-size: 14px;
        padding-top: 16px;
    }
}
@media screen and (min-width: 320px)and (max-width: 768px) {
    .place__paragraph{
        font-size: 16px;
    }
}



@media screen and (min-width: 768px)and (max-width: 1024px) {
    .place{ 
        padding-left: 24px;
        padding-right: 24px;
    }
}
@media screen and (min-width: 1024px)and (max-width: 1280px){
    .place{
        padding-left: 48px;
        padding-right: 48px;
    }
}
@media screen and (min-width: 320px)and (max-width: 425px) {
    .place{
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media screen and (min-width: 320px)and (max-width: 425px) {
    .place__title{
        padding-left: 16px;
        padding-right: 16px;
        font-size: 32px;
    }
}
@media screen and (min-width: 320px)and (max-width: 425px) {
    .place__website{
        padding-left: 16px;
        padding-right: 16px;
    }
}
@media screen and (min-width: 320px)and (max-width: 425px) {
    .place__paragraphs{
        padding-left: 16px;
        padding-right: 16px;
    }
}
@media screen and (min-width: 320px)and (max-width: 425px) {
    .header__logo{
        width: 142px;
        height: 42px;
    }
}
@media screen and (min-width: 320px)and (max-width: 425px) {
    .header__lang-link{
       font-size: 18px;
    }
}