.place{
    max-width: 984px;
    margin: 0;
    padding-left: 148px;
    padding-right: 148px;
    padding-top: 92px;
}

@media screen and (min-width: 320px)and (max-width: 425px) {
    .place{
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 64px;
    }
}
@media screen and (min-width: 426px)and (max-width: 767px) {
    .place{
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 64px;
    }
}
@media screen and (min-width: 768px)and (max-width: 1023px) {
    .place{
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 88px;
    }
}
@media screen and (min-width: 1024px)and (max-width: 1279px) {
    .place{
        padding-left: 48px;
        padding-right: 48px;
    }
}